/* general styles */
.step-indicator {list-style:none; width:375px; margin:25px auto; padding:0; background:url(../img/blk-pixel.gif) center repeat-x;}
  .step-indicator li {display:inline-block; margin-right:40px; padding:10px 15px; border:solid 1px #000; border-radius:50%; background:white;}
  .step-indicator li:last-child {margin-right:0;}
  .step-indicator li.current {background:orange;}
  .step-indicator li.correct {color:white; background:green;}
  .step-indicator li.incorrect {color:white; background:red;}
.quick-links {margin:25px auto; text-align:center;}
  .quick-links a {margin:0 10px;}

/* init settings */
.questions-view, .feedback-view {display:none;}

/* starting view */
.starting-view {width:250px; margin:50px auto;}
  .starting-view select {width:100%;}

/* questions view */
.questions-view, .feedback-view {width:500px; margin:50px auto;}
    .questions-view .answer-img p {margin:15px 0 25px;}
  .questions-view h3, .feedback-view h3 {margin:45px auto;}
  .questions-form .question-group {min-height:225px;}
    .questions-form .radio {margin-bottom:15px;}
  .questions-form .submit-btn input {width:100%;}

/* feedback view */
.feedback-view {text-align:center;}
  .feedback-view p {margin-bottom:60px; font-size:16px; line-height:26px;}
